@{
    Layout = "_Layout";
}
@model UniversityRegistrar.Models.Student;
@using System;

<h1>Add student</h1>
<div class="info-container">
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)<br><br>

    @Html.Hidden("Date", DateTime.Now)
    @Html.Label("Select a course")
    @Html.DropDownList("CourseId")<br><br>

    <input type="submit" value="Add Student" class="btn btn-info" />
}
</div>

<p>@Html.ActionLink("Back to the list of stidents", "Index", "Course")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>