@{
    Layout = "_Layout";
}
@model UniversityRegistrar.Models.Student;

<h1>Edit</h1>
<div class="info-container">
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)<br><br>

    @Html.HiddenFor(model => model.StudentId)
    @Html.Label("Select a course")
    @Html.DropDownList("CourseId")<br><br>

    <input type="submit" value="Edit" class="btn btn-info" />
}
</div>

<p>@Html.ActionLink("Back to student list", "Index")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>