@{
    Layout = "_Layout";
}
@model UniversityRegistrar.Models.Course;

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.CourseNumber)
    @Html.TextBoxFor(model => model.CourseNumber)

    <input type="submit" value="Add Course"/>

}

<p>@Html.ActionLink("Back to the list of courses", "Index", "Course")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>